<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

    <!--開発環境用設定 -->
    <springProfile name="dev">
        <property name="logFilePath" value="./logs" />
    </springProfile>
    
    <!-- コンソール出力 -->
    <appender name="OutConsole" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- アプリケーションログのファイル書き出し -->
    <appender name="OutFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--ファイル名設定 -->
        <file>${logFilePath}/app.log</file>
        <!--ログ出力フォーマット設定 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
            <fileNamePattern>${logFilePath}/%d{yyyy-MM-dd}-app.log</fileNamePattern>
            <maxHistory>30</maxHistory> 
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ルート -->
    <root level="info">
        <appender-ref ref="OutConsole" />
        <appender-ref ref="OutFile" />
    </root>
</configuration>